doctype html
html(ng-app='VendingMachine')
    head
        title Guessing Game
        // build:css ./style/main.css
        link(rel='stylesheet', href='/public/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/styles/main.css')
        // endbuild
    body(timed-cls)
        h1= message
        h2= error.status
        pre #{error.stack}
