doctype html
html(ng-app='Player')
    head
        title Recognition game player
        // build:css ./style/main.css
        link(rel='stylesheet', href='/public/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/styles/main.css')
        // endbuild
    body#player.main(timed-cls, ng-controller='PlayerCtrl')
        .container
            .row
                .col-xs-12
                    img.center-block.img-responsive(src='/public/images/backgrounds/gutterlogo.jpg')
            .row(ng-if='vm.state === "awaitingname"')
                    form.form(ng-submit='vm.onPlayerSubmit()')
                        .col-xs-12
                            h4.text-center To play, enter your initials below for the leaderboard. Try to recognise the images shown on the big screen and select an answer!
                        .form-group.text-center.col-xs-12
                            input.form-control.initials-entry.col-xs-12(type='text', ng-model='vm.form.name', maxlength=3, required, autofocus)
                        .form-group.col-xs-12
                            input.btn.btn-primary.pull-right.play-button(type='submit', value='Play!')
            .row(ng-if='vm.state === "ready"')
                .col-xs-12.text-center
                    h1
                        | Waiting for the games to begin!
            .row(ng-if='vm.state === "starting"')
                .col-xs-12.text-center
                    h1
                        | Next game starts in {{ vm.countdowntime }}!
            .row(ng-if='vm.state === "started"')
                .col-xs-12
                    h1.text-center
                        | Choose!
                    .buttons(ng-repeat='guess in vm.question.guesses')
                        a.btn.btn-default.btn-lg.col-xs-12(href='', ng-disabled='!vm.allowGuesses', ng-click='vm.onAnswerSelect(vm.question.questionIndex, $index)') {{ guess }}
            .row(ng-if='vm.state === "finalscore"')
                .col-xs-12.text-center
                    h4 {{ vm.playerName }} your score for this game was:
                    h1 {{ vm.lastscore}}
            .row(ng-if='vm.state === "disconnected"')
                .col-xs-12
                    h1.text-center
                        | You have been disconnected :(

        // build:js ./scripts/libs.js
        script(src='/public/bower_components/angular/angular.js')
        script(src='/public/bower_components/jquery/dist/jquery.js')
        script(src='/public/bower_components/momentjs/moment.js')
        script(src='/socket.io/socket.io.js')
        // endbuild
        // build:js ./scripts/app.js
        script(src='/public/js/common/service/LogSvc.js')
        script(src='/public/js/player/main.js')
        script(src='/public/js/player/service/PlayerSvc.js')
        script(src='/public/js/player/controller/PlayerCtrl.js')
        // endbuild
