doctype html
html
    head
        title Recognition game screen
        // build:css ./style/main.css
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/styles/main.css')
        // endbuild
    body#test2
        .container-fluid
            .row
                .box1.col-xs-2
                    h1 box 1
                .box2.col-xs-2
                    h1 box 2
                .box3.col-xs-2
                    h1 box 3
                .box4.col-xs-2
                    h1 box 4
                .box5.col-xs-2
                    h1 box 5
                .box6.col-xs-2
                    h1 box 6