doctype html
html
    head
        title Recognition game screen
        // build:css ./style/main.css
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/styles/main.css')
        // endbuild
    body#test1

