@main-background-color: #FFFFFF;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.main {
  background-color: @main-background-color;
}



#screen {
  background-image: url('/images/backgrounds/SPOTIFY-BUS2-MORESCREEN-RIGHT.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;

  .game-image {
    position: absolute;
    top: 7vw;
    left: 48vw;

    img {
      border: 2px solid black;

      width: 21vw;
    }
  }

  .leaderboard {
    position: absolute;

    top: 8vw;
    left: 75vw;

    width: 22vw;


    th {
      font-size: 1.8vw;
    }

    td {
      font-size: 1.2vw;
      padding: 0.3vw 0.3vw 0.3vw 0.5vw;
    }
  }

  .countdown {
    position: absolute;

    font-size: 2vw;

    color: white;

    top: 10vw;
    left: 18vw;

    width: 48vw;
  }

  .buttons {
    position: absolute;

    top: 9vw;
    left: 15vw;//69vw;

    width: 30vw;

    .btn {
      padding: 0.7vw;
      margin: 0;
      font-size: 2vw;

      color: white;
      background-color: #171717;
      border-color: black;
    }

  }

  .top-text {
    position: absolute;

    h4 {
      margin: 0;
      font-size: 2vw;
    }

    text-align: left;

    color: white;

    top: 2.5vw;
    left: 2vw;

    width: 67vw;
  }

}

#player {
  .initials-entry {
    text-transform: uppercase;
  }

  .play-button {
    width: 100%;
  }

  .answer-button {
    margin-top: 5px;
  }

  .btn {
    text-wrap: wrap;
  }
}

#admin {
  padding-top: 2%;
}