@logo-light-blue: #E5FBFF;

.main {
  background-color: @logo-light-blue;
}

#screen {
  background-image: url('/images/backgrounds/Welcometothegutterwithcat-background.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;

  .game-image {
    margin-top: 1vw;
    border: 2px solid black;
  }

  .leaderboard {
    padding-top: 8vw;
    padding-left: 6vw;
  }
  .countdown {
    padding-top: 8vw;
  }

  .buttons {
    padding-top: 5vw;
    .btn {
      width: 100%;
    }
  }
}

#player {

  .initials-entry {
    text-transform: uppercase;
  }

  .play-button {
    width: 100%;
  }
}

#admin {
  padding-top: 2%;
}