@main-background-color: #FFFFFF;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.main {
  background-color: @main-background-color;
}

#screen {
  height: 100%;
  font-size: 100%;
  .screen-container {
    position: relative;
    background-image: url('/images/backgrounds/gutterbackfull.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100%;
  }

  .game-image {
    position: absolute;
    top: 5%;
    left: 42%;

    width: 20%;

    img {
      border: 2px solid black;
    }
  }

  .leaderboard {
    position: absolute;

    top: 8%;
    left: 4%;

    width: 22%;

    font-size: 1.5em;
  }

  .countdown {
    position: absolute;

    color: white;

    top: 7%;
    left: 36%;

    width: 62%;
  }

  .buttons {
    position: absolute;

    top: 7%;
    left: 75%;

    width: 15%;

  }

  .top-text {
    position: absolute;

    color: white;

    top: 0.5%;
    left: 36%;

    width: 63%;
  }

}

#player {
  .initials-entry {
    text-transform: uppercase;
  }

  .play-button {
    width: 100%;
  }

  .answer-button {
    margin-top: 5px;
  }
}

#admin {
  padding-top: 2%;
}